.card-ani-img {
    object-fit: cover;
    width: 18rem;
    height: 9rem;
}

.back {
    background-color: #212529;
}

.card-color {
    background-color: #343a40;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.flexed {
    width: 18rem;
    animation: fadeIn 0.75s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(3%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.hero {
    text-align: center;
    background-image: url('./background.jpg');
    object-fit: contain;
    margin-bottom: 10vh;
}

.desc {
    padding: 1rem;
    width: 50rem;
}

.ani-img {
    height: 30rem;
}

.actions {
    display: flex;
    gap: 0.5rem;
}

div.card-body {
    display: flex;
    flex-direction: column;
}

p.card-text {
    flex-grow: 1;
}
